# don't ever lint node_modules
node_modules

# don't lint build output (make sure it's set to your correct build folder name)
build
dist
.cache
# don't lint nyc coverage output
coverage

.eslintrc.js
.eslintrc.cjs
vite.config.ts
jest-setup.ts

.babel.config.js
vite-env.d.ts